@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans"),
  url(./fonts/JosefinSans.ttf) format('truetype');
}

@font-face {
  font-family: 'JosefinSans';
  src: local('JosefinSans'), url(./fonts/JosefinSans.ttf) format('ttf');
}

html{
  overflow: hidden;
  background-color: var(--darkgrey);
}

body {
  margin: 0;
  font-family: 'JosefinSans' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: 'JosefinSans'
}

/* Lenis recommended CSS */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}