@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans"),
  url(./fonts/JosefinSans.ttf) format('truetype');
}

@font-face {
  font-family: 'JosefinSans';
  src: local('JosefinSans'), url(./fonts/JosefinSans.ttf) format('ttf');
}

body {
  margin: 0;
  font-family: 'JosefinSans' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'JosefinSans'
}
